.app__container{
    margin:50px;
    display: flex;
    flex-direction: column;
}
.app__container input{
    padding: 10px;
    border:1px solid blue;
    border-radius: 5px;
}
.app__container section{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
}